//
// @file
// Styles for panel layouts.
//

.panel--fullrow--second {
  @include site-background-section;

  padding-top: 25px;
  padding-bottom: 25px;

  @extend %site-background-section-fonts;

  .uikit-btn {
    @extend %site-background-section--btn;
  }

  .panel-layout-one-two-three-one & {
    margin-bottom: 0;
  }
}
