//
// @file
// Search form styles.
//

#block-exposedformsearchpage-2 {
  display: inline-block;
  vertical-align: top;
  margin-left: 15px;

  @include breakpoint($medium) {
    position: absolute;
  }

  form {
    position: relative;
    height: 44px;
    margin-top: 18px;
    width: 50px;
  }

  input {
    color: black;
  }

  .form--inline {
    display: table;
    width: 50px;
    transition: width 250ms ease;
    position: absolute;
    right: 0;
    border: 1px solid $white;
    border-radius: 4px;

    .form-item-keywords {
      margin: 0;
      display: table-cell;
      vertical-align: middle;
      width: auto;
      background: none;
      transition: background 250ms ease;

      > label {
        visibility: hidden;
        width: 0;
        height: 0;
        margin: 0;
      }

      input {
        padding: 0 10px;
        border: none;
        line-height: 2.8;
        border-radius: 2px;
        background: transparent;
        color: transparent;
        transition: color 250ms ease;
        max-width: 268px;

        &:focus {
          outline: none;
        }

        &::placeholder {
          color: transparent;
        }

        &::-webkit-input-placeholder, /* WebKit browsers */
        &:-moz-placeholder, /* Mozilla Firefox 4 to 18 */
        &::-moz-placeholder, /* Mozilla Firefox 19+ */
        &:-ms-input-placeholder { /* Internet Explorer 10+ */
          color: transparent;
        }
      }
    }

    .form-actions {
      width: 50px;
      height: 100%;
      display: table-cell;
      vertical-align: middle;
      position: absolute;
      right: 0;

      .icon-search {
        position: absolute;
        right: 10px;
        top: 8px;
        font-size: 28px;
        font-weight: bold;
        line-height: 1;
      }

      .form-submit {
        position: absolute;
        top: 0;
        left: 0;
        text-indent: -9999px;
        border: none;
        background: none;
        width: 100%;
        height: 100%;

        &:focus {
          outline: none;
        }
      }
    }
  }

  &.is-active {
    .form--inline {
      width: 317px;

      .form-item-keywords {
        background: $white;

        input {
          padding: 0 10px;
          color: $blk;

          &::placeholder {
            color: $dark-gray;
            opacity: 0.7;
          }

          &::-webkit-input-placeholder, /* WebKit browsers */
          &:-moz-placeholder, /* Mozilla Firefox 4 to 18 */
          &::-moz-placeholder, /* Mozilla Firefox 19+ */
          &:-ms-input-placeholder { /* Internet Explorer 10+ */
            color: $dark-gray;
            opacity: 0.7;
          }
        }
      }

      .form-actions {
        border-left: 1px solid $light-gray;

        @include breakpoint($small-max) {
          .icon-search {
            color: $light-gray;
          }
        }
      }
    }
  }

  @include breakpoint($small) {
    position: absolute;
    right: 0;

    form {
      margin-top: 7px;
    }

    .form--inline {
      border: none;

      .form-actions {
        .icon-search {
          color: $blk;
          top: 0;
          font-size: 43px;
        }
      }
    }
  }
}

#block-govcms-uikit-starterkit-exposedformsearchpage {
  text-align: center;

  .form--inline {
    label {
      text-align: left;
    }

    .form-actions {
      .icon-search { display: none; }
    }
  }
}
