.block-views-blockblock-trusted-logos-block-1 {
  @include site-background-section;

  padding: 3em 0;
  margin: 0 -12px;

  h2 {
    text-align: center;
    color: $white;
    font-weight: normal;
    margin-bottom: 3em;
  }
}

.view-block-trusted-logos {
  > .view-content {
    @include uikit-clearfix();

    > .views-row {
      img {
        max-width: 100%;
        height: auto;
      }

      a {
        border-bottom: none;

        &::after {
          display: none;
        }

        &:hover {
          background: none;
        }
      }
    }
  }

  > .view-footer {
    margin-top: 3em;

    > div {
      float: none;

      > a {
        @extend %site-background-section--btn;
      }
    }
  }
}
