{#
/**
 * @file
 * Template for a one column panel layout.
 */
#}
<div class="panel-layout-one-col" {% if css_id %}{{ css_id }}{% endif %}>
    <div class="panel-panel">
        <div class="row panel--fullrow">
            <div class="layout--main">{{ content.main }}</div>
        </div>
    </div>
</div>
