//////////////////////////////////
// Primary Container Rules ///////
//////////////////////////////////

.cog--mq {
  @include container(73.125em);

  margin: 10px auto;
}

.vertical-center {
  padding: 10px 0;

  @include uikit-media("md") {
    padding: 30px 0;
    display: flex;
    align-items: center;
  }
}

// Fix an uikit issue with nested containers extending past their parent.
.uikit-grid .container,
.uikit-grid .container-fluid {
  max-width: 100%;
}

.row {
  margin-top: uikit-space(1);
  margin-bottom: uikit-space(1);

  .row {
    // Nested rows should not apply vertical spacing.
    margin-top: 0;
    margin-bottom: 0;
  }
}
