
<table class="uikit--content-table {modifier_class}">
  <caption>Population of Australian states and territories, December 2015</caption>
  <thead>
  <tr>
    <th scope="col">Location</th>
    <th scope="col">Population</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td data-label="Location">New South Wales</td>
    <td data-label="Population">7,670,700</td>
  </tr>
  <tr>
    <td data-label="Location">Victoria</td>
    <td data-label="Population">5,996,400</td>
  </tr>
  </tbody>
</table>
